@model TRAQ_Assessment_MVC.Models.Account.ViewAccountViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
<div class="col-sm-4">

        <partial name="_HolderHeader" model="Model.HolderDetails" />
</div>

    <div class="col-sm-8">
        <div>
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Code)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Code)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Person_Code)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Person_Code)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Account_Number)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Account_Number)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Outstanding_Balance)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Outstanding_Balance)
                </dd>
            </dl>
        </div>
    </div>
</div>

<partial name="_TransactionsView" model="Model.Transactions" />