@model IEnumerable<TRAQ_Assessment_MVC.Models.Transaction.ViewTransactionViewModel>

<a class="navbar-brand btn btn-primary align-content-center" asp-area="" asp-controller="Transactions" asp-action="Create">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capture_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capture_Date)
            </td>
            <td>
                    <a class="navbar-brand btn btn-success" asp-area="" asp-controller="Transactions" asp-action="Update">edit</a>
                    <a class="navbar-brand btn btn-info" asp-area="" asp-controller="Transactions" asp-action="Details" asp-route-id="@item.Code" asp-route-holderId="@item.HolderCode">View</a>
                    <a class="navbar-brand btn btn-danger" asp-area="" asp-controller="Transactions" asp-action="Details">delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
