@model TRAQ_Assessment_MVC.Models.Transaction.ViewTransactionViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-sm-4">

        <partial name="_HolderHeader" model="Model.HolderDetails" />
    </div>
    <div class="col-sm-8">
        <div>
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Code)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Code)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Account_Code)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Account_Code)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Amount)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Transaction_Date)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Transaction_Date)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Capture_Date)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Capture_Date)
                </dd>
            </dl>
        </div>
    </div>
</div>


